<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuzhi.hotel.mapper.RestaurantMapper">
    
    <resultMap type="Restaurant" id="RestaurantResult">
        <result property="restaurantId"    column="restaurant_id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="location"    column="location"    />
        <result property="phone"    column="phone"    />
        <result property="specialty"    column="specialty"    />
        <result property="image"    column="image"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <resultMap id="RestaurantMenuResult" type="Restaurant" extends="RestaurantResult">
        <collection property="menuList" ofType="Menu" column="restaurant_id" select="selectMenuList" />
    </resultMap>

    <resultMap type="Menu" id="MenuResult">
        <result property="menuId"    column="menu_id"    />
        <result property="restaurantId"    column="restaurant_id"    />
        <result property="category"    column="category"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="price"    column="price"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectRestaurantVo">
        select restaurant_id, name, description, location, phone, specialty, image, create_time from restaurant
    </sql>

    <select id="selectRestaurantList" parameterType="Restaurant" resultMap="RestaurantMenuResult">
        <include refid="selectRestaurantVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectRestaurantByRestaurantId" parameterType="String" resultMap="RestaurantMenuResult">
        select restaurant_id, name, description, location, phone, specialty, image, create_time
        from restaurant
        where restaurant_id = #{restaurantId}
    </select>

    <select id="selectMenuList" resultMap="MenuResult">
        select menu_id, restaurant_id, category, name, description, price, create_time
        from menu
        where restaurant_id = #{restaurant_id}
    </select>

    <insert id="insertRestaurant" parameterType="Restaurant">
        insert into restaurant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="restaurantId != null">restaurant_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="specialty != null and specialty != ''">specialty,</if>
            <if test="image != null and image != ''">image,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="restaurantId != null">#{restaurantId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="specialty != null and specialty != ''">#{specialty},</if>
            <if test="image != null and image != ''">#{image},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateRestaurant" parameterType="Restaurant">
        update restaurant
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="specialty != null and specialty != ''">specialty = #{specialty},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where restaurant_id = #{restaurantId}
    </update>

    <delete id="deleteRestaurantByRestaurantId" parameterType="String">
        delete from restaurant where restaurant_id = #{restaurantId}
    </delete>

    <delete id="deleteRestaurantByRestaurantIds" parameterType="String">
        delete from restaurant where restaurant_id in 
        <foreach item="restaurantId" collection="array" open="(" separator="," close=")">
            #{restaurantId}
        </foreach>
    </delete>
    
    <delete id="deleteMenuByRestaurantIds" parameterType="String">
        delete from menu where restaurant_id in 
        <foreach item="restaurantId" collection="array" open="(" separator="," close=")">
            #{restaurantId}
        </foreach>
    </delete>

    <delete id="deleteMenuByRestaurantId" parameterType="String">
        delete from menu where restaurant_id = #{restaurantId}
    </delete>

    <insert id="batchMenu">
        insert into menu( menu_id, restaurant_id, category, name, description, price, create_time) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.menuId}, #{item.restaurantId}, #{item.category}, #{item.name}, #{item.description}, #{item.price}, #{item.createTime})
        </foreach>
    </insert>
</mapper>