<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuzhi.hotel.mapper.RoomMapper">
    
    <resultMap type="Room" id="RoomResult">
        <result property="roomId"    column="room_id"    />
        <result property="roomNumber"    column="room_number"    />
        <result property="categoryId"    column="category_id"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectRoomVo">
        select room_id, room_number, category_id, status, create_time from room
    </sql>

    <select id="selectRoomList" parameterType="Room" resultMap="RoomResult">
        select r.room_id, r.room_number, r.category_id, r.status, r.create_time,rc.name
        from room r
        left join room_category rc on r.category_id = rc.category_id
        <where>  
            <if test="roomNumber != null  and roomNumber != ''"> and r.room_number like concat('%', #{roomNumber}, '%')</if>
            <if test="categoryId != null  and categoryId != ''"> and r.category_id = #{categoryId}</if>
            <if test="status != null  and status != ''"> and r.status = #{status}</if>
        </where>
        order by r.room_number
    </select>
    
    <select id="selectRoomByRoomId" parameterType="String" resultMap="RoomResult">
        <include refid="selectRoomVo"/>
        where room_id = #{roomId}
    </select>

    <!--根据房间类型ID查询房间号列表-->
    <select id="selectRoomNumberListByCategoryId" parameterType="String" resultMap="RoomResult">
        select room_id, room_number
        from room
        where category_id = #{categoryId}
          and status = '空闲'
    </select>

    <insert id="insertRoom" parameterType="Room">
        insert into room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomId != null">room_id,</if>
            <if test="roomNumber != null and roomNumber != ''">room_number,</if>
            <if test="categoryId != null and categoryId != ''">category_id,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomId != null">#{roomId},</if>
            <if test="roomNumber != null and roomNumber != ''">#{roomNumber},</if>
            <if test="categoryId != null and categoryId != ''">#{categoryId},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateRoom" parameterType="Room">
        update room
        <trim prefix="SET" suffixOverrides=",">
            <if test="roomNumber != null and roomNumber != ''">room_number = #{roomNumber},</if>
            <if test="categoryId != null and categoryId != ''">category_id = #{categoryId},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where room_id = #{roomId}
    </update>

    <delete id="deleteRoomByRoomId" parameterType="String">
        delete from room where room_id = #{roomId}
    </delete>

    <delete id="deleteRoomByRoomIds" parameterType="String">
        delete from room where room_id in 
        <foreach item="roomId" collection="array" open="(" separator="," close=")">
            #{roomId}
        </foreach>
    </delete>
</mapper>